body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.background-container{
    background-color: #8294C4;
}

.main-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 5px solid rgb(36, 0, 36);
    border-radius: 5%;
}


.billboard-search-bar {
   /* display: flex; */
}

.smimage{
    width: 25px;
    height: 25px;
}
#headericon{
    width: 35px;
    height: auto;
}
.header{
    display: flex;
    justify-content: center;
    background-color: #8294C4;
}
.tophitsflexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* //position sticky
webkit sticky */
.flexbox-itemhits{
    width: auto;
    margin: 10px;
}
.articlesflexbox{
    display: flex;
    justify-content: center;
}
.flexbox-itemarticles{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: white;
}
.music-background{
justify-content: center;
display: flex;
}
.music-header-background{
position: sticky;
width: 100vw;
height: 300px;
}

.social-media {
    display: flex;
    justify-content: center;

}
#myVideo{
    max-width: 100%;
    height: auto;
    width: 100vw;
}
.articlelinks{
    color: black;
    text-decoration: none;
}
.card-img-top{
    height: 400px;
}
.video-container {
    position: relative;
}

video {
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

.text-overlay {
    position: absolute;
    top: 50%; /* Adjust vertically as needed */
    left: 50%; /* Adjust horizontally as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
}

.text-overlay h1 {
    margin: 0;
    font-size: 36px; /* Adjust font size for heading */
}

.text-overlay p {
    margin: 10px 0;
    font-size: 18px; /* Adjust font size for paragraph */
}
.custom-navbar{
    background-color: #8294C4;
    display: flex;
}
#person{
    cursor: pointer;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#record-btn{
    height: 200px;
    width: 200px;
    cursor: pointer;


}
#data-container{
    border-width: 1.5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
}
.card-body{
    background-color: #8294C4;
}
.billboard-container{
    background-color: #8294C4;
}
.custom-footer{
    background-color: red !important
}