body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.background-container{
    background-color: #8294C4;
}

.main-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 5px solid rgb(36, 0, 36);
    border-radius: 1%;
    
}


/* .billboard-search-bar {
   /* display: flex; */

.smimage{
    width: 25px;
    height: 25px;
}
#headericon{
    width: 35px;
    height: auto;
}
.header{
    display: flex;
    justify-content: center;
    background-color: #8294C4;
}
.tophitsflexbox{
    display: flex;
    background-color: #8294C4;
    flex-wrap: wrap;
    justify-content: center;
}
/* //position sticky
webkit sticky */
.flexbox-itemhits{
    width: auto;
    margin: 10px;
}
.articlesflexbox{
    display: flex;
    justify-content: center;
}
.flexbox-itemarticles{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: white;
}
.music-background{
justify-content: center;
display: flex;
}
.music-header-background{
position: sticky;
width: 100vw;
height: 300px;
}

#myVideo{
    max-width: 100%;
    height: auto;
    width: 100vw;
}

.articlelinks{
    color: black;
    text-decoration: none;
    /* John: Revised text not have default bootstrap underline or coloring */
}

.video-container {
    position: relative;
    /* John: I had made the video container to be relative in order for the video to be underneath the text. */
}

video {
    width: 100%; 
    height: auto; 
}

.text-overlay {
    position: absolute;
    top: 50%; /* Adjust vertically as needed */
    left: 50%; /* Adjust horizontally as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.905); /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
}

.text-overlay h1 {
    margin: 0;
    font-size: 75px; /* Adjust font size for heading */
    font-family: Arial, Helvetica, sans-serif;
}

.text-overlay p {
    margin: 10px 0;
    font-size: 30px; /* Adjust font size for paragraph */
    font-family: Arial, Helvetica, sans-serif;
}
.custom-navbar{
    background-color: #8294C4;
}
.sticky-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.sticky-top2{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
#person{
    cursor: pointer;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#record-btn{
    height: 200px;
    width: 200px;
    cursor: pointer;


}
#data-container{
    border-width: 1.5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
}
.card-body{
    background-color: #DBDFEA;
}

.billboard-container{
    background-color: #8294C4;
}
.custom-footer{
    background-color: red !important
}
.news-title{
    text-align: center;
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}
.hits-title{
    text-align: center;
    color: black;
    background-color: #8294C4;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}
.card-img-top{
    width: auto;
    height: 400px;
}
.row{
    margin: 100px;
}
@media (max-width: 576px) {
    /* Adjust styles for small devices here */
}

/* Media query for screens between 577px and 768px wide (medium devices) */
@media (min-width: 577px) and (max-width: 768px) {
    /* Adjust styles for medium devices here */
}

/* Media query for screens between 769px and 992px wide (large devices) */
@media (min-width: 769px) and (max-width: 992px) {
    /* Adjust styles for large devices here */
}

/* Media query for screens 993px and above (extra-large devices) */
@media (min-width: 993px) {
    /* Adjust styles for extra-large devices here */
}
