.quizContainer{
    display: grid;

height: 50%;
    width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin-top: 10%;
}
#test{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#navbar{
display: flex;
flex-direction: column
}
body{
    display: flex;
    background-image: url(../article-pictures/quiz-background.avif);
    justify-content: center;
    margin-top: 25cqmin;
    flex-direction: column;
    /* align-items: center; */
    
}

.buttonContainer{
    display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: bisque;
    outline: 0ch;
    outline-color: blue;
}

.btn:hover {
    background-color: rgb(234, 125, 216);
}


.wrong-answer.active{
    background-color: red;
}
@media (max-width: 576px) {
    /* Adjust styles for small devices here */
}

/* Media query for screens between 577px and 768px wide (medium devices) */
@media (min-width: 577px) and (max-width: 768px) {
    /* Adjust styles for medium devices here */
}

/* Media query for screens between 769px and 992px wide (large devices) */
@media (min-width: 769px) and (max-width: 992px) {
    /* Adjust styles for large devices here */
}

/* Media query for screens 993px and above (extra-large devices) */
@media (min-width: 993px) {
    /* Adjust styles for extra-large devices here */
}